{% extends 'default/layout.html.twig' %}

{% block body %}
    <div class="text-center font-weight-bold">
        Demande transmise. Vous recevrez une réponse sous 48 heures !
    </div>
{% endblock %}