<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-info font-weight-bold" href="{{path('formulaire_contact') }}">Contactez-nous</a></li>
        <li class="nav-item"><a class="nav-link text-info font-weight-bold" href="{{ path('list_questions') }}">Liste des questions</a></li>
        <li class="nav-item"><a class="nav-link text-info font-weight-bold" href="{{ path('logout') }}">Logout</a></li>
    </ul>
</nav>